
@{
    ViewData["Title"] = "AFAktivities";
}

<h1>Arbetsförmedlingen</h1>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AFAktivities" asp-action="Index">Rapportera AF Aktivitet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AFAktivityTypes" asp-action="Index">Lägga till AF Aktivitetstyper</a>
        </li>
    </ul>
</div>

