@{
    ViewData["Title"] = "Home Page";
}

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Personer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RefereeCategories" asp-action="Index">Domarkategorier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RefereeTypes" asp-action="Index">Domartyper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RefereeDistrikts" asp-action="Index">Domardistrikt</a>
            </li>
        </ul>
    </div>
